.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  width: 100%;
}
.not_found h2,
.not_found p {
  color: crimson;
  font-size: 30px;
}
.not_found button {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 2px solid crimson;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
}
